{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Page d'acceuil</h1>
<a href="{{path('plat_index')}}" class="btn btn-success">Les plats</a>
</div>
{% endblock %}
