{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

  {{form_start(platForm)}} <br>
  {{form_row(platForm.name)}} <br>
  {{form_row(platForm.content)}} <br>
  {{form_end(platForm)}}

</div>

{% endblock %}
