{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  {{form_start(platImageForm)}} <br>
  {{form_row(platImageForm.imageFile)}} <br>
  {{form_end(platImageForm)}}
</div>


{% endblock %}
